<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.phonestore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:configChanges="orientation|screenSize|keyboardHidden">
        <service android:name=".services.MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" /> <activity android:name="com.facebook.CustomTabActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.VIEW" /> <category android:name="android.intent.category.DEFAULT" /> <category android:name="android.intent.category.BROWSABLE" /> <data android:scheme="@string/fb_login_protocol_scheme" /> </intent-filter> </activity>
        <activity
            android:name=".view.SplashScreen"
            android:theme="@style/SplashTheme"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.auth.ActivityLogin" />
        <activity android:name=".view.auth.ActivitySignUp" android:parentActivityName=".view.auth.ActivitySignUpVerify" android:screenOrientation="nosensor">
            <meta-data android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.ActivitySignUpVerify"/>
        </activity>
        <activity android:name=".view.auth.ActivityForgotPassword" android:parentActivityName=".view.auth.ActivityLogin" android:screenOrientation="nosensor">
            <meta-data android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.ActivityLogin"/>
        </activity>
        <activity android:name=".view.auth.ActivityChangePassword" android:parentActivityName=".view.auth.ActivityChangePassword" android:screenOrientation="nosensor">
            <meta-data android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.ActivityForgotPassword"/>
        </activity>
        <activity android:name=".view.MainActivity" android:parentActivityName=".view.auth.ActivityLogin"
            android:windowSoftInputMode="adjustResize" android:screenOrientation="nosensor">
            <meta-data android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.ActivityLogin"/>
        </activity>
        <activity android:name=".view.auth.ActivitySignUpInputPhone" android:parentActivityName=".view.auth.ActivityLogin" android:screenOrientation="nosensor">
            <meta-data android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.ActivityLogin"/>
        </activity>
        <activity android:name=".view.auth.ActivitySignUpVerify" android:parentActivityName=".view.auth.ActivitySignUpInputPhone" android:screenOrientation="nosensor">
            <meta-data android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.ActivitySignUpInputPhone"/>
        </activity>
    </application>

</manifest>